page-home {
	.calendar-div {
    margin-top: 4vw; 
 	}

 	[col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
 	}
 	.col {
    text-align: center;
    padding: 5px;
 	}
 	.last-month, .next-month {
    color: #999999;
    font-size: 90%;
 	}
 	.currentDate, .otherDate, .selected-date {
    padding: 5px;
 	}
 	.currentDate {
    font-weight: bold;
    color: white;
    border-radius: 50%;
    /*border: #48c5cd dashed 2px;*/
    background-color: #48C5CD;
 	}
 	.calendar-header {
    background-color: white;
    color: black;
    height: 55px;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid #DCDCDC;
    text-align: center;
	}
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    border-radius: 50%;
    border: #48c5cd dashed 2px;
    /*color: white;
    background-color: blue;*/
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    border-bottom: solid 1px #DCDCDC;
 
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: normal;
    }
    .calendar-date {
    }
  }

  .scroll-content {
    padding: 0 !important;
  }
}
